<% include templates/header.ejs %>

 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
Sales Dashboard page
</div>
  <!-- /.content-wrapper -->
<% include templates/footer.ejs %>